.cblue { background-color:#82E0C2; }
.cpurple { background-color:#A47BAB; }
.cpink { background-color:#F67194; }
.corange { background-color:#FFBE68; }
.cgreen { background-color:#A4E596; }
.cyellow { background-color:#d3f180; }
.cred { background-color:#fd8c80; }

.cdarkpurple { background-color:#956578; }
.cbrown { background-color:#9e6557; }
.cdarkgreen { background-color:#54c972; }
.cdarkblue { background-color:#546c82; }
.cwhatever { background-color:#9e3763; }
.cbrown { background-color:#cc6b4a; }
.canothergreen { background-color:#6cd461; }
.cindigo { background-color:#7d6371; }
.cheavyorange { background-color:#f6543c; }
.cheavyorange2 { background-color:#fd6834; }

.bcdarkpurple { border-color:#956578; }
.bcbrown { border-color:#9e6557; }
.bcdarkgreen { border-color:#54c972; }
.bcdarkblue { border-color:#546c82; }
.bcwhatever { border-color:#9e3763; }
.bcbrown { border-color:#cc6b4a; }
.bcanothergreen { border-color:#6cd461; }
.bcindigo { border-color:#7d6371; }
.bcheavyorange { border-color:#f6543c; }
.bcheavyorange2 { border-color:#fd6834; }

.back.bcdarkpurple { border-color:#956578; }
.back.bcdarkbrown { border-color:#9e6557; }
.back.bcdarkgreen { border-color:#54c972; }
.back.bcdarkblue { border-color:#546c82; }
.back.bcwhatever { border-color:#9e3763; }
.back.bcbrown { border-color:#cc6b4a; }
.back.bcanothergreen { border-color:#6cd461; }
.back.bcindigo { border-color:#7d6371; }
.back.bcheavyorange { border-color:#f6543c; }
.back.bcheavyorange2 { border-color:#fd6834; }


body, html { margin:0; padding:0; background-color:#fd8c80; }

wrap { width:100%; position: relative; }

#content-box { width: 1140px; height: 10300px; margin:0 auto; position:relative; overflow:hidden; }
#content-cards { position:absolute; top:0; left:0; right:0; bottom:0; /*background: url("/static/images/slides_cards-nq8.png") no-repeat scroll left top transparent;*/  }
#content-text { position:absolute; top:0; left:0; right:0; bottom:0; /*background: url("/static/images/slides_text_wire_corners-nq8.png") no-repeat scroll left top transparent; */ }

#content-back { position:absolute; top:0; left:0; right:0; bottom:0; height: 7210px; /*background: url("/static/images/para_bg.jpg") repeat fixed left top transparent;*/}

/* 920 / 900 -->  736/716 (0.8) | 598/578 (0.65) */
.backslide { width:100%; height:736px; position:relative; /*display:none;*/ }
/*.backslide.inview { display: block; }*/
/*.backwhite { background-image: url("/static/images/white_overlay3-nq8.png"); position: absolute; top:0; left:0; right:0; bottom:0; }*/
.backwhitefix { background-image: url("/static/images/white_overlay3-nq8-nq8.png"); position:fixed; top:0; left:0; right:0; bottom:0; }
.back { width:100%; height:716px; border-bottom:20px solid transparent; }

/*.backslide.backslide-1 { height:836px; }
.backslide.backslide-1 .back { height: 816px; }
.backslide.backslide-10 { height:836px; }
.backslide.backslide-10 .back { height: 816px; }
.backslide.backslide-11 { height:836px; }
.backslide.backslide-11 .back { height: 816px; }*/
/*
750 | 770
610 | 630
590 | 610
650 | 670
620 | 640
650 | 670
620 | 640
590 | 610
620 | 640
650 | 670
*/
.backslide.backslide-1 { height:770px; }
.backslide.backslide-1 .back { height: 750px; }
.backslide.backslide-2 { height:630px; }
.backslide.backslide-2 .back { height: 610px; }
.backslide.backslide-3 { height:610px; }
.backslide.backslide-3 .back { height: 590px; }
.backslide.backslide-4 { height:670px; }
.backslide.backslide-4 .back { height: 650px; }
.backslide.backslide-5 { height:640px; }
.backslide.backslide-5 .back { height: 620px; }
.backslide.backslide-6 { height:670px; }
.backslide.backslide-6 .back { height: 650px; }
.backslide.backslide-7 { height:640px; }
.backslide.backslide-7 .back { height: 620px; }
.backslide.backslide-8 { height:610px; }
.backslide.backslide-8 .back { height: 590px; }
.backslide.backslide-9 { height:640px; }
.backslide.backslide-9 .back { height: 620px; }
.backslide.backslide-10 { height:670px; }
.backslide.backslide-10 .back { height: 650px; }
.backslide.backslide-11 { height:900px; }
.backslide.backslide-11 .back { height: 920px; }


.card { width: 1140px; height: 920px; /*border:1px solid red;*/  }
.card_1 { background: url("/static/images/cards/card_1-nq8.png") no-repeat scroll left top transparent;  }
.card_2 { background: url("/static/images/cards/card_2-nq8.png") no-repeat scroll left top transparent;  }
.card_3 { background: url("/static/images/cards/card_3-nq8.png") no-repeat scroll left top transparent;  }
.card_4 { background: url("/static/images/cards/card_4-nq8.png") no-repeat scroll left top transparent;  }

.card.card-5 { background-position: left 30px; }
.card.card-7 { background-position: left 17px; }
.card.card-8 { background-position: left 17px; }
.card.card-9 { background-position: left 18px; }

.ctext { width: 1140px; height: 920px; position:relative; /*border:1px solid blue;*/ }


*[class|="ctext-back"] { position:absolute; background: white; }
*[class|="ctext-img"] { position:absolute; background: none; top:0; left:0; }

/*.ctext.ctext-1 { background: url("/static/images/cards/card_border_1-nq8.png") no-repeat scroll 206px 167px transparent; }
.ctext-back-1 { left:222px; top:183px; width:700px; height:510px; }*/

/*.ctext.ctext-1 { background: url("/static/images/texts/text_1-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-2 { background: url("/static/images/texts/text_2-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-3 { background: url("/static/images/texts/text_3-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-4 { background: url("/static/images/texts/text_4-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-5 { background: url("/static/images/texts/text_5-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-6 { background: url("/static/images/texts/text_6-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-7 { background: url("/static/images/texts/text_7-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-8 { background: url("/static/images/texts/text_8-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-9 { background: url("/static/images/texts/text_9-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-10 { background: url("/static/images/texts/text_10-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-11 { background: url("/static/images/invite_page-nq8.png") no-repeat scroll left top transparent; }*/

.ctext.ctext-10 { height:1020px; }

/*.ctext-img-11 { height:600px; width: 705px; }*/
/*.ctext-img-9 { top:-10px; }*/


/* 504 | 672  */
.prod_img { background: none repeat scroll 0 0 gray; height: 345px; left: 545px; position: absolute; top: 300px; width: 370px; overflow:hidden;}
.prod_img img { position:absolute; left:0; bottom:0; }

.prod_img-3 { height: 345px; left: 545px; top: 300px; width: 370px; } 
.prod-img-3 { height: 345px; width: 370px; }

.prod_img-4{ height: 370px; left: 515px; top: 265px; width: 400px; }
.prod-img-4 { height: 370px; width: 400px; }

.prod_img-5 { height: 370px; left: 500px; top: 270px; width: 410px; }
.prod-img-5 { height: 370px; width: 410px; }

.prod_img-6 { height: 350px; left: 570px; top: 280px; width: 345px; }
.prod-img-6 { height: 350px; width: 345px; }

.prod_img-7 { height: 350px; left: 525px; top: 265px; width: 390px; }
.prod-img-7 { height: 350px; width: 390px; }

.prod_img-8 { left: 545px; top: 290px; }
.prod-img-8 { height: 345px; width: 370px; }

.prod_img-9 {  height: 355px; left: 535px; top: 255px; }
.prod-img-9 {  height: 355px; width: 370px; }

