@import url('/static/css/local.css');


.cblue { background-color:#82E0C2; }
.cpurple { background-color:#A47BAB; }
.cpink { background-color:#F67194; }
.corange { background-color:#FFBE68; }
.cgreen { background-color:#A4E596; }
.cyellow { background-color:#d3f180; }
.cred { background-color:#fd8c80; }

.cdarkpurple { background-color:#956578; }
.cbrown { background-color:#9e6557; }
.cdarkgreen { background-color:#54c972; }
.cdarkblue { background-color:#546c82; }
.cwhatever { background-color:#9e3763; }
.cbrown { background-color:#cc6b4a; }
.canothergreen { background-color:#6cd461; }
.cindigo { background-color:#7d6371; }
.cheavyorange { background-color:#f6543c; }
.cheavyorange2 { background-color:#fd6834; }

.bcdarkpurple { border-color:#956578; }
.bcbrown { border-color:#9e6557; }
.bcdarkgreen { border-color:#54c972; }
.bcdarkblue { border-color:#546c82; }
.bcwhatever { border-color:#9e3763; }
.bcbrown { border-color:#cc6b4a; }
.bcanothergreen { border-color:#6cd461; }
.bcindigo { border-color:#7d6371; }
.bcheavyorange { border-color:#f6543c; }
.bcheavyorange2 { border-color:#fd6834; }

.back.bcdarkpurple { border-color:#956578; }
.back.bcdarkbrown { border-color:#9e6557; }
.back.bcdarkgreen { border-color:#54c972; }
.back.bcdarkblue { border-color:#546c82; }
.back.bcwhatever { border-color:#9e3763; }
.back.bcbrown { border-color:#cc6b4a; }
.back.bcanothergreen { border-color:#6cd461; }
.back.bcindigo { border-color:#7d6371; }
.back.bcheavyorange { border-color:#f6543c; }
.back.bcheavyorange2 { border-color:#fd6834; }


body, html { margin:0; padding:0; background-color:/*#fd8c80*/ white; }

#wrap { width:100%; position: relative; }

#content-box { width: 1140px; height: 10020px; margin:0 auto; position:relative; overflow:hidden; }
#content-cards { position:absolute; top:0; left:0; right:0; bottom:0; /*background: url("/static/images/slides_cards-nq8.png") no-repeat scroll left top transparent;*/  }
#content-text { position:absolute; top:0; left:0; right:0; bottom:0; /*background: url("/static/images/slides_text_wire_corners-nq8.png") no-repeat scroll left top transparent; */ }

#content-back { position:absolute; top:0; left:0; right:0; bottom:0; height: 10020px; /*background: url("/static/images/para_bg.jpg") repeat fixed left top transparent;*/}

/* 920 / 900 -->  736/716 (0.8) | 598/578 (0.65) */
/*.backslide { width:100%; height:736px; position:relative; /*display:none;*//* }*/

.backslide { width:100%; height:920px; position:relative; /*display:none;*/ }

/*.backslide.inview { display: block; }*/
/*.backwhite { background-image: url("/static/images/white_overlay3-nq8.png"); position: absolute; top:0; left:0; right:0; bottom:0; }*/
.backwhitefix { background-image: url("/static/images/white_overlay3-nq8-nq8.png"); position:fixed; top:0; left:0; right:0; bottom:0; }
/*.back { width:100%; height:716px; border-bottom:20px solid transparent; }*/

.back { width:100%; height:900px; border-bottom:20px solid transparent; }

/*.backslide.backslide-1 { height:836px; }
.backslide.backslide-1 .back { height: 816px; }
.backslide.backslide-10 { height:836px; }
.backslide.backslide-10 .back { height: 816px; }
.backslide.backslide-11 { height:836px; }
.backslide.backslide-11 .back { height: 816px; }*/
/*
750 | 770
610 | 630
590 | 610
650 | 670
620 | 640
650 | 670
620 | 640
590 | 610
620 | 640
650 | 670
*/

/*
.backslide.backslide-1 { height:770px; }
.backslide.backslide-1 .back { height: 750px; }
.backslide.backslide-2 { height:630px; }
.backslide.backslide-2 .back { height: 610px; }
.backslide.backslide-3 { height:610px; }
.backslide.backslide-3 .back { height: 590px; }
.backslide.backslide-4 { height:670px; }
.backslide.backslide-4 .back { height: 650px; }
.backslide.backslide-5 { height:640px; }
.backslide.backslide-5 .back { height: 620px; }
.backslide.backslide-6 { height:670px; }
.backslide.backslide-6 .back { height: 650px; }
.backslide.backslide-7 { height:640px; }
.backslide.backslide-7 .back { height: 620px; }
.backslide.backslide-8 { height:610px; }
.backslide.backslide-8 .back { height: 590px; }
.backslide.backslide-9 { height:640px; }
.backslide.backslide-9 .back { height: 620px; }
.backslide.backslide-10 { height:670px; }
.backslide.backslide-10 .back { height: 650px; }
.backslide.backslide-11 { height:900px; }
.backslide.backslide-11 .back { height: 920px; }
*/

/*.backslide.backslide-1 { height:920px; }
.backslide.backslide-1 .back { height: 900px; }
.backslide.backslide-2 { height:920px; }
.backslide.backslide-2 .back { height: 900px; }
.backslide.backslide-3 { height:610px; }
.backslide.backslide-3 .back { height: 590px; }
.backslide.backslide-4 { height:670px; }
.backslide.backslide-4 .back { height: 650px; }
.backslide.backslide-5 { height:640px; }
.backslide.backslide-5 .back { height: 620px; }
.backslide.backslide-6 { height:670px; }
.backslide.backslide-6 .back { height: 650px; }
.backslide.backslide-7 { height:640px; }
.backslide.backslide-7 .back { height: 620px; }
.backslide.backslide-8 { height:610px; }
.backslide.backslide-8 .back { height: 590px; }
.backslide.backslide-9 { height:640px; }
.backslide.backslide-9 .back { height: 620px; }
.backslide.backslide-10 { height:670px; }
.backslide.backslide-10 .back { height: 650px; }
.backslide.backslide-11 { height:900px; }
.backslide.backslide-11 .back { height: 920px; }*/
.backslide.backslide-1 { height:820px; }
.backslide.backslide-1 .back { height: 800px; }
.backslide.backslide-2 { height:870px; }
.backslide.backslide-2 .back { height: 850px; }
.backslide.backslide-8 { height:970px; }
.backslide.backslide-8 .back { height: 950px; }
.backslide.backslide-11 { height:920px; }
.backslide.backslide-11 .back { height: 900px; }


.card { width: 1140px; height: 920px; /*border:1px solid red;*/  }
.card_1 { background: url("/static/images/cards/card_1-nq8.png") no-repeat scroll left top transparent;  }
.card_2 { background: url("/static/images/cards/card_2-nq8.png") no-repeat scroll left top transparent;  }
.card_3 { background: url("/static/images/cards/card_3-nq8.png") no-repeat scroll left top transparent;  }
.card_4 { background: url("/static/images/cards/card_4-nq8.png") no-repeat scroll left top transparent;  }

.card.card-1 { background-position: left -50px; }
.card.card-2 { background-position: left -50px; }
.card.card-5 { background-position: left 30px; }
.card.card-7 { background-position: left 17px; }
.card.card-8 { background-position: left 17px; }
.card.card-9 { background-position: left 58px; }

.ctext { width: 1140px; height: 920px; position:relative; /*border:1px solid blue;*/ }


*[class|="ctext-back"] { position:absolute; background: white; }
*[class|="ctext-img"] { position:absolute; background: none; top:0; left:0; }

/*.ctext.ctext-1 { background: url("/static/images/cards/card_border_1-nq8.png") no-repeat scroll 206px 167px transparent; }
.ctext-back-1 { left:222px; top:183px; width:700px; height:510px; }*/

/*.ctext.ctext-1 { background: url("/static/images/texts/text_1-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-2 { background: url("/static/images/texts/text_2-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-3 { background: url("/static/images/texts/text_3-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-4 { background: url("/static/images/texts/text_4-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-5 { background: url("/static/images/texts/text_5-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-6 { background: url("/static/images/texts/text_6-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-7 { background: url("/static/images/texts/text_7-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-8 { background: url("/static/images/texts/text_8-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-9 { background: url("/static/images/texts/text_9-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-10 { background: url("/static/images/texts/text_10-nq8.png") no-repeat scroll left top transparent; }
.ctext.ctext-11 { background: url("/static/images/invite_page-nq8.png") no-repeat scroll left top transparent; }*/

.ctext.ctext-1 { height:820px; }
.card.card-1 { height:820px; }
.ctext.ctext-2 { height:870px; }
.card.card-2 { height:870px; }

.ctext.ctext-10 { height:1020px; }

/*.ctext-img-11 { height:600px; width: 705px; }*/
/*.ctext-img-9 { top:-10px; }*/


/* 504 | 672  */
.prod_img { background: none repeat scroll 0 0 gray; height: 345px; left: 545px; position: absolute; top: 300px; width: 370px; overflow:hidden;}
.prod_img img { position:absolute; left:0; bottom:0; }

.prod_img-3 { height: 345px; left: 545px; top: 300px; width: 370px; } 
.prod-img-3 { height: 345px; width: 370px; }

.prod_img-4{ height: 370px; left: 515px; top: 265px; width: 400px; }
.prod-img-4 { height: 370px; width: 400px; }

.prod_img-5 { height: 370px; left: 500px; top: 270px; width: 410px; }
.prod-img-5 { height: 370px; width: 410px; }

.prod_img-6 { height: 350px; left: 570px; top: 280px; width: 345px; }
.prod-img-6 { height: 350px; width: 345px; }

.prod_img-7 { height: 350px; left: 525px; top: 265px; width: 390px; }
.prod-img-7 { height: 350px; width: 390px; }

.prod_img-8 { left: 545px; top: 290px; }
.prod-img-8 { height: 345px; width: 370px; }

.prod_img-9 {  height: 355px; left: 535px; top: 295px; }
.prod-img-9 {  height: 355px; width: 370px; }



/* #invitations-form { height: 135px;left: 304px;position: absolute;top: 479px;width: 545px; }*/
#invitations-form { height: 160px;left: 224px;position: absolute;top: 337px;width: 385px; }
#invite-links-container { margin-top: 49px; }
.csicon { float:left; clear:none; width:80px; padding: 0 10px; overflow:hidden; text-indent: -9988px; display:block; height:30px;  }
.csicon:first-child { padding-left:0;  }
.csicon.cloudsponge_msn { width:100px; }
.csicon.invite-import-aol { width: 55px; }
/*#cloud_invite_input { background: none repeat scroll 0 0 transparent; box-shadow: none; font-size: 17px; height: 24px;
        left: 3px; outline: medium none; padding: 13px 10px 7px 10px; position: absolute; top: 90px; width: 396px;
        border:none; font-family:"letter-gothic-std",monospace; color: #7F767E;  }*/
#cloud_invite_input { background: none repeat scroll 0 0 transparent; box-shadow: none; font-size: 17px; height: 24px;
        left: 1px; outline: medium none; padding: 13px 10px 7px 10px; position: absolute; top: 89px; width: 362px;
        border:none; font-family:"letter-gothic-std",monospace; color: #7F767E;  }
#cloud_invite_submit {  background: none repeat scroll 0 0 transparent; border: medium none; bottom: 0px; box-shadow: none;
        height: 30px; margin: 0; outline: medium none; overflow: hidden; padding: 0; position: absolute; right: 0;
        text-indent: -9988px; width: 101px; cursor:pointer; }
/*#personal-link { background: none repeat scroll 0 0 transparent; border: none; box-shadow: none; font-size: 17px;
        height: 26px; left: 304px; outline: medium none; padding: 12px 10px 7px 10px; position: absolute; top: 427px;
        width: 396px; font-family:"letter-gothic-std",monospace; color: #7F767E; }*/
#personal-link { background: none repeat scroll 0 0 transparent; border: none; box-shadow: none; font-size: 17px;
        height: 26px; left: 223px; outline: medium none; padding: 12px 10px 7px 10px; position: absolute; top: 553px;
        width: 362px; font-family:"letter-gothic-std",monospace; color: #7F767E; }
#sharebox { left: 306px; min-width: 42px; min-height: 42px; overflow: hidden; position: absolute; top: 607px; }
.shareitem { width:42px; height:42px; display:block;float:left; margin-right:15px; cursor:pointer; }
#backstretch { z-index:100 !important; }
#wrap { display:none; }
#email_screen { width:100%; height:100%; position:fixed; /*min-width:800px; min-height: 600px;*/ z-index:101;;}


.form-list { list-style:none; margin:0; padding:0; }

.block_popup { background: url("/static/images/popup_back.png") no-repeat scroll left top transparent; 
        padding: 227px 131px 46px 96px; margin:0; width: 593px ; height: 267px; position:absolute; margin-top:-312px; top: 50%;
        right:50%; left:auto; text-align: center; color:#000; border:none; background-color:transparent; cursor:auto; 
        font-size:18px; font-weight:bold; font-family:"letter-gothic-std",monospace; text-transform: uppercase;
        margin-right: -460px;  }
        
.block_popup_inner { background:white; padding:15px; width: 563px ; height: 237px; position:relative; }
label[for=terms] { width: auto; }
.validation-advice { text-align:left; }
.terms_agreement { float: left; margin-right: 5px; margin-toP: 3px; }
.login_overlay { z-index: 1000;  border:none; margin:0; padding:0; width: 100%; height: 100%; top: 0px; left: 0px; cursor: auto;
    position: fixed; background-color: #000; background: rgba(0, 0, 0, 0.6); }


.block_popup .popup_title { color: #86636e; font-family:'Cantata One',Tahoma,serif; font-size:28px; line-height: 32px;
    width: 380px; text-align: left; padding:9px 5px 5px 28px; text-transform:none; letter-spacing: -0.5px;
    font-weight:normal; margin: 0 0 5px;  }
.block_popup .popup_backlink { color: #ff7268;  }
.block_popup .popup_content { background:url("/static/images/reg_backchunk.png") no-repeat scroll left top transparent;
    text-align:left;font-size: 16px; line-height: 35px; padding-top:17px; width: 533px; height: 158px; color: #7f767e; 
    /*margin-top:-4px;*/ letter-spacing: 1.5px; /*2.7px*/; padding-left: 30px; }
.block_popup .popup_content .pc_l {font-weight: bold;line-height: 1.5; font-size: 15px; margin: 0; height: 17px;
    overflow: hidden; margin-top: 4px; margin-bottom:0px; }
.block_popup .popup_content .pc_l2 { margin-top: 16px; }

    
.block_popup .control_link { position:absolute; top:15px; right:16px; }
.block_popup .control_link a { display:block; width: 79px; height:25px; overflow:hidden; text-decoration:underline;
    padding-top:20px; padding-left:51px; font-size:16px; font-weight: bold; color: #ff7268; text-align: left; letter-spacing:2px; }
.block_popup .control_link a:hover { text-decoration: underline; }
.block_popup .control_link #login_link{background: url("../../images/sales/login_popup/hi_red.png") no-repeat scroll left top transparent;}
.block_popup #forgot_link, .block_popup #forgot_link:hover { display:block; overflow:hidden; text-decoration:none;
    font-size:15px; font-weight: bold; color: #ff7268; text-align: left; margin-left:-2px; margin-top: 10px; max-width: 260px;  }
.block_popup .control_link #back_to_login { width: 173px; padding-left:10px; }

.block_popup .popup_content form { margin-top: 21px; }
.block_popup .popup_content #register-form1 { height: 64px; display:block; position:relative;}

.block_popup .popup_content .actions button.button { width: 217px;height:18px; position:absolute; top:4px; right:12px; 
    background:none; border:none; color: white; margin:17px 0; text-transform:uppercase; cursor:pointer; }
.block_popup .popup_content .actions button.button span /*{ background:none; border:none; color:white; text-align:left;
    font-family:"letter-gothic-std",monospace; font-size:17px; height: 50px; line-height:55px; width:180px;margin-right:16px;
    padding:0 0 0 21px; background: url("../../images/dot_arrow_right.png") no-repeat scroll right 20px transparent; }*/
    { background: url("/static/images/dot_arrow_right.png") no-repeat scroll right 2px transparent;border:none; color: white;
    display: block; font-family: "letter-gothic-std",monospace; font-size: 17px; height: 23px; width: 184px; line-height: 23px;
    padding: 0 0 0 21px; margin-right: 12px; position: absolute; left: 0; margin-top: -10px; top: 50%; text-align: left; 
    letter-spacing: 0.7px; }
    
.block_popup .popup_content .form-list input /*{ width: 278px; height: 37px; border:none;outline:none; line-height: 37px;
    padding-left:24px; background:none;  padding-top:11px; font-size: 16px; font-family: "letter-gothic-std",monospace;
    box-shadow: none; text-transform:uppercase; color: #7f767e; font-weight:bold; } */
    {width: 264px; height: 23px; border: none; outline: none; line-height: 1.5; background: none;
    font-size: 14px; font-family: "letter-gothic-std",monospace; box-shadow: none; text-transform: uppercase;
    color: #7F767E; font-weight: bold; margin-left: -16px; margin-top: 9px; padding: 11px 13px 5px 13px; letter-spacing: 2px; }


.block_popup .popup_content .form-list li { position:relative; }
.block_popup .popup_content .form-list li .validation-advice { position:absolute; bottom:-14px;  }
/*#become_member { cursor:pointer;font-weight:bold; }*/
  
#gifts { position: absolute; right: 208px; top: 343px; width: 250px; height: 280px; }
#gifts .money { color: #ff6f67; font-size: 17px; font-style: italic; position: absolute; left:0; top:0; height:50px;
    font-family: "letter-gothic-std",monospace; font-weight: bold; padding-top:7px; width:100%;
    background: url("/static/images/invite_dotline.png") no-repeat scroll -6px top; }
#gifts .money.initial { background: url("/static/images/invite_dotline_initial.png") no-repeat scroll -6px top;  }
#gifts .indicator{ background: url("/static/images/gift_ind_back.png") no-repeat ; height: 210px; position: absolute;
    left:0; top: 40px; width: 250px; display: block; margin:0; padding:16px 0 0; list-style:none; }
#gifts .indicator .i-level { height: 60px; margin-left: 75px; margin-top: -9px; position: relative;  }
#gifts .indicator .i-level .ammount { display: none; background: white; color: #ff6f67; font-size: 30px; font-style: italic;
    position: absolute; left: 60px; top: 5px; width: 50px; font-family: "letter-gothic-std",monospace; }
#gifts .indicator .i-level.active { background: url("/static/images/wallet.png") left 8px no-repeat; } 
#gifts .indicator .i-level.current .ammount { display:block; }

#gifts .indicator .i-level .skipper { display: block; font-size: 14px; font-weight: bold; left: 59px; width: 117px; padding-top:7px; font-style:normal; }

#gifts .indicator .i-level .remainder { display: none; font-family: Georgia,serif; font-size: 13px; font-weight: bold;
    color: #FF6F67; line-height: 1; text-align: center; position: absolute; left: 0; top: 16px; width: 50px; }
    
#gifts .indicator .i-level.remaining .remainder { display: block; }
